.footText {
    font-weight: 200;
    font-size: medium;
}

mat-toolbar span mat-icon{
    margin-right: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

 h1, h2, h3, h4 {font-family: 'Josefin Sans', sans-serif;} 

.icons{
    vertical-align: middle;
}
