h1, h2, h3, h4, h5 {font-family: 'Josefin Sans', sans-serif;}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    min-height: 20vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0.8)),url(../../../../assets/img/TituloImg.jpg);
    background-size: cover;
    background-position: center;
}

.tituloBlanco{
    color: #fff;
    font-family: Josefin Sans, sans-serif;
    font-size: 5vw;
    padding: 0;
    margin: 0;
}

:host {
    display: block;
    background-color: #ECECEC;
}

.contenido{
    background-color: white;
    margin: auto;
    padding: 1rem;
}
@media (min-width: 900px) {
    .contenido {width: 80%;}
}

@media (max-width: 1000px) {
.contenido {width: 95%;}
}

.cards {
    max-width: 100%;
    margin: 0;
    display: grid;
    gap: 0.5rem;
  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr);
            }
  }

  .cardsMatr {
    display: grid;
    grid-template-columns: 90% 1fr
  }

.icons{
    vertical-align: middle;
}